#hintergrund {
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}

.box1 {
  position: absolute;
  width: 250px;
  height: 175px;
  top: 150px;
  left: 200px;
  z-index:2;
}

.box2 {
  position: absolute;
  width: 250px;
  height: 175px;
  top: 167px;
  left: 790px;
  z-index:2;
}

h1 {
  font-size:30px;
  color: #d6d6d6;
  font-family: roboto;
  text-transform: lowercase;
}

a {
  font-size:20px;
  color: #eaeaea;
  font-family: arial;
  text-transform: lowercase;
  text-decoration: none;
  }

a:hover {
  font-size:20px;
  color: #d5d5d5;
  font-family: arial;
  text-transform: lowercase;
  text-decoration: none;
  }
