
#bg {
  width:100vw;
  align-self: center;
  }

.flex-wrapper {
  display: flex;
	align-items: center;
  justify-content: center;
	height: 100vh;
}

.flex-wrapperwho {
  display: flex;
	align-items: center;
  justify-content: center;
	height: 100vh;
}

.flex-wrapperwhat {
  display: flex;
	align-items: center;
  justify-content: center;
	height: 100vh;
}

.inhalt {
  width: 600px;
	height: 300px;
	background:#ffffff;
}

#me {
  position: absolute;
  float: left;
  width:300px;
  height: 300px;
  margin-left: -70px;
  z-index: 2;
}

#me2 {
  float: left;
  width:300px;
  height: 300px;
}


.nav {
  position: fixed;
  text-align: center;
  bottom:0px;
  width: 100%;
  margin: 0;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  margin-left: 4px;
  color: #e80073;
  border: 5px solid #e80073;
  background: transparent;
  padding: 14px 14px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-indent: 4px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.nav a:hover {
  color: #ffffff;
  background: #e80073;
}
.nav a:active {
  color: #ffffff;
  background: #e80073;
}


.eins{
  width: 600px;
  height: 300px;
  text-align: justify;
}


.eins p { color:#fff;
  font-size: 19px;
  font-family: 'Times';
  display: inline;
  line-height: 29px;
  padding-bottom: 3px;
  padding-top: 2px;
  font-style: italic;
  background-color: #e80073;
  font-weight: 200;
}


.eins h1 {
  color: #111;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-indent: 0px;
  font-size: 20px;
  text-align: right;
  padding-right: 0px;
  padding-bottom: 30px;
}


.inhalt p { color:#fff;
  font-size: 19px;
  font-family: 'Times';
  display: inline;
  line-height: 29px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-style: italic;
  background-color: #e80073;
  font-weight: 200;
}

.zwei h1 {
  color: #111;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-indent: 0px;
  font-size: 20px;
  text-align: right;
  padding-bottom: 30px;
}

.zwei p {
margin-left: -40px;}

.linkseinzug {
position: relative;
z-index: 3;
left: 150px;
}


.pink {
display:inline-table;
line-height: 0;
font-size: 0;
background: #e80073;
}

#work {
  display: table-cell;
  width:200px;
  height: 200px;
}

#work:hover {

 opacity: 0.5;
   filter:Alpha(Opacity=50);

}

.kreise {
position: relative;
text-align: center;
}

.kreise a {
font-size: 40px;
text-decoration: none;
color: #d0d0d0;}

.kreise a:hover {
color: #e80073;
}


#kreispink {
  color: #e80073;
}



/* Smartphones */
@media screen and (max-width: 640px) {
body {
  position: relative;
  width: 100vw;
}
  .nav {
    position: relative;
    text-align: center;
    top: 0px;
    width: 100%;
    margin-left: -15px;
    display: block;
    padding-bottom: 2px;
    margin-bottom: 0;
  }
  .nav li {
    display: block;
    top: 0px;

  }
  .nav a {
    color: #e80073;
    border: 5px solid #e80073;
    background: transparent;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-indent: 4px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2px;
  }
  /*index*/
  #bg {
    position: absolute;
    bottom: 0px;
    width:100vw;
    left:0;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    }

  .flex-wrapper {
    display: flex;
    position: relative;
  	align-items: center;
    justify-content: center;
    width: 100%;
    bottom:0px;
    height: 400px;
  }

/*who*/

  .flex-wrapperwho {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  #me {
    position:static;
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .eins {
    position: relative;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }

  .inhalt {
    width: 300px;
    display: block;
  	background:#ffffff;
  }

  .linkseinzug {
  position: relative;
  left: 0;
  }

  /*what*/
  .flex-wrapperwhat {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;}

  .pink {
  display:block;
  line-height: 0;
  font-size: 0;
  background: #e80073;
  }

  #work {
    display: block;
    width:200px;
    height: 200px;
    margin-bottom: 7px;
  }

  /*contact*/
  #me2 {
    float: left;
    width:300px;
    height: 300px;
    margin-bottom: 15px;
  }

  .zwei p {
  margin-left: 0px;
  }

  .zwei {
    text-align: center;
  }


}
